body {
  background-image: url(/images/phone.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-box-shadow: 3px -1px 38px 23px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px -1px 38px 23px rgba(0, 0, 0, 0.5);
  box-shadow: 3px -1px 38px 23px rgba(0, 0, 0, 0.5);
}

body::before {
  content: "";
  position: fixed; /* Use fixed to cover the entire viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit; /* This copies the background image */
  filter: brightness(0.8) grayscale(0.5); /* Adjust the blur value as needed */
  z-index: -1; /* Ensure it stays behind the content */
}

h1 {
  z-index: 10;
  position: relative;
}
