---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout
  title="TikTok's tilbagefald i 2022-2023"
  description="Kort infografik-artikel omkring TikTok's tilbagefald i 2022-2023"
  ogtitle="TikTok's tilbagefald i årene 2022 til 2023"
  ogdescription="Kort artikel omkring TikTok's tilbagefald"
>
  <div id="top" class="overflow-visible max-w-3xl mx-auto pb-12">
    <h1 class="md:text-left text-center md:text-5xl text-4xl font-bold relative">TikTok's tilbagefald i 2022-2023</h1>
    <p class="text-sm md:text-lg md:text-left text-center md:mx-auto mx-8 mt-4 opacity-60">
      Med data fra: <Link
        href="https://www.dr.dk/om-dr/fakta-om-dr/medieforskning/medieudviklingen/2023/tiktok-paa-tilbagetog"
        text="DR's artikel om TikTok's tilbagetog"
      />
    </p>
  </div>
  <div class="flex md:flex md:justify-start justify-center max-w-3xl mx-auto">
    <img src="/images/phone2.webp" alt="phone2" class="rounded-md md:w-1/2 w-2/3" />
  </div>

  <div class="max-w-3xl mx-auto pt-10">
    <p class="text-md mb-8 md:text-lg md:mx-auto mx-8">
      I 2023 falder TikTok-brugen blandt danskere, især blandt de unge, hvor den daglige brug for 15-19-årige er faldet fra 63 % i 2022 til 55 %. På
      trods af dette forbliver TikTok populært blandt denne aldersgruppe, mens de 25-31-årige oplever en stigning i dagligt brug. <br /><br />Ved at
      kigge på tidslinjen nedenfor kan du kigge igennem de faktorer, der har påvirket TikToks popularitet og brug, samt hvordan appen navigerer i et
      klima præget af stigende bekymringer omkring datasikkerhed og privatliv.
    </p>
    <hr class="my-16 opacity-50" />
  </div>
  <div class="max-w-3xl mx-auto pt-4">
    <h2 class="md:text-left text-center md:text-3xl text-2xl font-bold mb-4">Tidslinje over TikToks udvikling</h2>
  </div>

  <div class="timeline relative max-w-3xl mx-auto py-4 px-8 md:py-10 md:px-0">
    <!-- Background Blur -->
    <div class="absolute inset-0 blur-md z-0"></div>
    <!-- Timeline Container -->
    <div id="timeline" class="relative border-l-4 border-gray-300">
      <!-- 2022 -->
      <div class="mb-20 ml-8">
        <div class="absolute w-6 h-6 bg-pink-400 rounded-full mt-1.5 -left-3 border-4 border-white"></div>
        <p class="md:text-lg text-sm font-semibold text-pink-400">2022</p>

        <div class="mt-4 flex items-start">
          <!-- Icon 1 -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="md:h-16 md:w-16 h-32 w-32 text-red-500 mr-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"
            ></path>
          </svg>

          <div>
            <h2 class="md:text-2xl text-lg font-bold">63% af unge bruger TikTok</h2>
            <p class="mt-2 text-md md:text-lg">
              TikTok er stadig en af de mest populære apps blandt unge med en høj brugerandel på 63%. Platformen bruges til alt fra underholdning til
              sociale interaktioner og trends.
            </p>
          </div>
        </div>

        <div class="mt-10 flex items-start">
          <!-- Icon 1 -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="md:h-16 md:w-16 h-32 w-32 text-yellow-500 mr-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
            ></path>
          </svg>

          <div>
            <h2 class="md:text-2xl text-lg font-bold">Advarsel fra Center for Cybersikkerhed</h2>
            <p class="mt-2 text-md md:text-lg">
              Center for Cybersikkerhed advarer mod brugen af TikTok på grund af sikkerhedsrisici, hvilket skaber bekymring blandt både brugere og
              forældre. Advarslen antyder, at appen kan udgøre en trussel mod datasikkerhed og privatliv.
            </p>
          </div>
        </div>
      </div>

      <!-- Midt 2022 -->
      <div class="mb-20 ml-8">
        <div class="absolute w-6 h-6 bg-cyan-400 rounded-full mt-1.5 -left-3 border-4 border-white"></div>
        <p class="md:text-lg text-sm font-semibold text-cyan-400">Midt 2022</p>

        <div class="mt-4 flex items-start">
          <!-- Icon 1 -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="md:h-20 md:w-20 h-32 w-32 text-green-500 mr-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M7.864 4.243A7.5 7.5 0 0 1 19.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 0 0 4.5 10.5a7.464 7.464 0 0 1-1.15 3.993m1.989 3.559A11.209 11.209 0 0 0 8.25 10.5a3.75 3.75 0 1 1 7.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 0 1-3.6 9.75m6.633-4.596a18.666 18.666 0 0 1-2.485 5.33"
            ></path>
          </svg>

          <div>
            <h2 class="md:text-2xl text-lg font-bold">Anklager om spionage</h2>
            <p class="mt-2 text-md md:text-lg">
              I løbet af året anklages TikTok for at indsamle data på en måde, der kan anses som spionage. Disse anklager, især rettet mod appens
              kinesiske ejerskab, skaber yderligere usikkerhed og bekymring om datahåndtering, hvilket fører til, at flere overvejer at stoppe med at
              bruge appen.
            </p>
          </div>
        </div>
      </div>

      <!-- 2023 -->
      <div class="mb-20 ml-8">
        <div class="absolute w-6 h-6 bg-zinc-400 rounded-full mt-1.5 -left-3 border-4 border-white"></div>
        <p class="md:text-lg text-sm font-semibold text-zinc-400">2023</p>

        <div class="mt-4 flex items-start ml-0">
          <!-- Icon 1 -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="md:h-16 md:w-16 h-32 w-32 text-blue-500 mr-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25M9 16.5v.75m3-3v3M15 12v5.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"
            ></path>
          </svg>

          <div>
            <h2 class="md:text-2xl text-lg font-bold">Antallet af unges brug af TikTok falder til 55%</h2>
            <p class="mt-2 text-md md:text-lg">
              Antallet af unge, der bruger TikTok dagligt, falder til 55%, hvilket indikerer en markant tilbagegang i appens popularitet blandt den
              yngre demografi. Mens nogle unge fortsætter med at bruge platformen, søger andre alternativer og mere sikre platforme.
            </p>
          </div>
        </div>

        <div class="mt-10 flex items-start">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="md:h-16 md:w-16 h-32 w-32 text-indigo-500 mr-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3.75m0-10.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.25-8.25-3.286Zm0 13.036h.008v.008H12v-.008Z"
            ></path>
          </svg>

          <div>
            <h2 class="md:text-2xl text-lg font-bold">Betragtes som en af de mest invasive apps</h2>
            <p class="mt-2 text-md md:text-lg">
              TikTok er blevet betragtet som en af de mest invasive apps i forhold til databeskyttelse. Kritikere peger på de omfattende
              dataindsamlingsmetoder, der involverer personlige oplysninger og adfærdsmønstre, hvilket fører til øget offentlig debat om privatliv.
            </p>
          </div>
        </div>

        <div class="mt-10 flex items-start">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="md:h-16 md:w-16 h-32 w-32 text-purple-500 mr-4"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
          </svg>

          <div>
            <h2 class="md:text-2xl text-lg font-bold">Politisk debat og potentielle forbud</h2>
            <p class="mt-2 text-md md:text-lg">
              I takt med stigende bekymring over datasikkerhed opstår der politiske debatter om, hvorvidt TikTok bør forbydes i forskellige lande.
              Diskussionerne omfatter både sikkerhedsmæssige og økonomiske aspekter, hvilket kan føre til ændringer i appens tilgængelighed og brug.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
