---

---

<div class="bg-zinc-800/90 backdrop-blur-md md:p-12 p-8 text-gray-100 relative">
  <div class="footer-copyright text-center text-main p-4 opacity-40">
    <p class="text-main font-medium">&copy; 2024 Sara Ringkow Petersen. All rights reserved.</p>
  </div>
</div>
