---

---

<div class="bg-gray-900/90 backdrop-blur-md p-12 text-gray-100 relative">
  <div class="footer-copyright text-center text-main p-4 opacity-40">
    <p class="text-main font-medium">&copy; 2024 Sara Ringkow Petersen. All rights reserved.</p>
  </div>
</div>
